.image-container {
    position: relative;
	width: 100%;
}

.image-container .overlay {
    position: absolute;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}
.image-container:hover .overlay {
	opacity: 1;
}

.year {
	color: #FFF;
	position: absolute;
	top: 10%;
	left: 15%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 1.5em;
}

.seperator {
	background: #FFF;
	width: 1.5em;
	height: .1em;
	position: absolute;
	top: 25%;
	left: 13%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 1.5em;
}

.roles {
	color: #FFF;
	position: absolute;
	top: 75%;
	left: 27%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 1.2em;
}

ul li {
	list-style-type: none;
}

.image {
	border: 1px solid #c9c9c9;
}