<div class="row fadeIn" *ngIf="project">
    <div class="col-md-6">
        <a [routerLink]="['/project/details', project[0]._id]">
            <div class="image-container">
                <img [src]="project[0].thumbnail" class="img-fluid image">
                <div class="overlay" [ngStyle]="{'background-color': project[0].bgColor}">
                    <div class="year">{{ project[0].year }}</div>
                    <div class="seperator"></div>
                    <div class="roles">
                        <ul>
                            <li *ngFor="let role of project[0].roles">{{ role }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
        <div>
            <span class="badge badge-secondary" *ngFor="let tag of project[1].tags" [routerLink]="['/project/tags', tag.toLowerCase()]" >{{ tag }}</span>
        </div> 
        <h5>{{ project[0].title }}</h5>
        <p>{{ project[0].text }}</p>
        <!-- <span>Read more...</span> -->
    </div>
    <div class="col-md-6">
        <a [routerLink]="['/project/details', project[1]._id]">
            <div class="image-container" >
                <img [src]="project[1].thumbnail" class="img-fluid image">
                <div class="overlay" [ngStyle]="{'background-color': project[1].bgColor}">
                    <div class="year">{{ project[1].year }}</div>
                    <div class="seperator"></div>
                    <div class="roles">
                        <ul>
                            <li *ngFor="let role of project[1].roles">{{ role }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <span class="badge badge-secondary" *ngFor="let tag of project[1].tags">{{ tag }}</span>
            </div>
            <h5>{{ project[1].title }}</h5>
        </a>
        <p>{{ project[1].text }}</p>
        <!-- <span>Read more...</span> -->
    </div>
</div>
