<main class="main fadeIn">
    <article class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <section class="hero">
                    <div class="hero-content">
                        <div class="hero-image">
                            <img src="../../../assets/images/Bilde 20.05.2018, 21 50 16 preview.png" alt="">
                        </div>
                        <div class="hero-text-container">
                            <h1 class="hero-title" translate>
                                Hello! My name is Mathis Garberg, a fullstack developer from Oslo, Norway
                            </h1>
                            <p class="large" translate>I design, build, operate and maintain web apps.</p>
                        </div>
                    </div>
                    <div class="hero-arrow" data-component="smoothScroll" [ngx-scroll-to]="'#destination'">
                        <svg class="clickable" version="1.0" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <polygon points="0.645,10.383 16,23.871 31.355,10.383 29.375,8.129 16,19.878 2.625,8.129 "></polygon>
                        </svg>
                    </div>
                </section>
            </div>
        </div>
        <div class="row mb-xs-60 mb-md-80" id="destination">
            <div class="col-xs-12 col-md-12">
                <header class="section-header">
                    <h2 class="section-header-title" translate>Skills</h2>
                </header>
            </div>
            <div class="col-xs-12 col-md-6 mb-xs-80 mb-md-0">
                <p class="extra-large" translate="">
                    <!-- Jeg ble ferdig med Bacheloren min i Webutvikling ved
                    NTNU i Gjøvik i 2017. Videre har jeg nå flyttet til Oslo,
                    hvor jeg har fått jobb som fullstack utvikler for Telenor. -->
                    Throughout my education, I've gained experience in a broad
                    range of web technologies. Among my primary skills are:
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 mb-xs-20 mb-md-40" *ngFor="let skill of skills">
                        <h4 translate>{{ skill.headline }}</h4>
                        <p>{{ skill.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-xs-20 mb-sm-40 mb-4">
            <div class="col-xs-12 col-md-12"> 
                <header class="section-header">
                    <h2 class="section-header-title" translate>Social Media</h2>
                </header>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 mb-xs-20" *ngFor="let socialLink of socialLinks">
                        <span class="extra-large">
                            <a [href]="socialLink.url" class="link-dark">{{ socialLink.name }}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <header class="section-header">
                    <h2 class="section-header-title" translate>Hobbies</h2>
                </header>
                <div class="row">
                    <div class="col-xs-12 col-md-12 mb-xs-80 mb-md-0">
                        <p class="extra-large" translate>
                            I'm an active person who likes to try new things. Throughout my education at NTNU in Gjøvik, I tried a lot of different sports and extracurricular activies. Among the activities was american football, which I played for the local team, Gjøvik Swans. Since all of our games were captured on footage, I put together some of my own highlights from my last season in the video below:
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <vg-player>
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                    
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>
                        
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                        
                                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                        
                                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                        
                                <vg-track-selector></vg-track-selector>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                        
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                    
                            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                                <source src="../../../assets/videoplayback.mp4" type="video/mp4">
                                <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
                                <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
                        
                                <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
                                <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es"> -->
                            </video>
                        </vg-player>
                    </div>
                </div>  
            </div>
        </div>
    </article>
</main>

