.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 10px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.elevator {
    cursor: pointer;
}

.elevator svg {
    height: 2rem;
    fill: #c9c9c9;
    transform: rotate(180deg);
}