<div class="container">
  <!-- <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
    <p>
      <button
        class="btn btn-primary"
        angulartics2On="click"
        angularticsAction="Click button below quote"
        [angularticsCategory]="quote">
        Click me to send an Analytics event
      </button>
    </p>
  </div> -->
  <div class="row">
    <div class="col-md-8">
      <app-post-list [posts]="posts"></app-post-list>

      <app-loader [isLoading]="isLoading"></app-loader>
    </div>
    <div class="col-md-4">
      <div class="card" style="max-width: 20rem;">
        <!-- Card Header -->
        <div class="card-header">
          Links
        </div>
        <!-- Card Block -->
        <div class="card-body">
          <p class="card-text">GitHub projects</p>
        </div>
        <!-- List Group -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Medium Publications</li>
        </ul>
        </div>
    </div>
  </div>
</div>
