/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

* {
    font-family: 'Nunito', Times, serif;
}

.large {
    font-size: 1.2rem;
}

.extra-large {
    font-size: 1.4rem;
}

a {
    // color: #c9c9c9;
    color: inherit;
    transition: all 0.4s linear;
}

a:hover, a:focus {
    color: #54c0e4;
    text-decoration: none;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1.8s forwards;
}



h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #c9c9c9;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}